*{
    font-family: 'Roboto', sans-serif;
}

.display-4 {
    font-weight: 500;
    font-size: 75px;
    color: rgb(63, 63, 63);
}

.description {
    font-weight: 500;
    font-size: 30px;
    color: rgb(63, 63, 63);
}

.btn {
    background-color: rgb(63, 109, 209);
    border-color: rgb(63, 109, 209);
}

.sq {
    margin-top: 30px;   
    font-weight: 400;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.surveyOne {
    font-weight: bold;
    font-size: 24px;
}

.surveyTwo {
    font-size: 18px;    
    margin-top: 10px;
    margin-bottom: 10px;
}

.surveyInput {
    width: 600px;
}

.input-group {
    width: 160px;   
}

.btn {
    background-color: rgb(63, 109, 209);
    border-color: rgb(63, 109, 209);
}

.modalIMG {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.middle {
    vertical-align: middle;
}

.input-group {
    width: 200px;
}
